<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

</head>
<body>
    <div id="b8a6912adc7a4d238ce981f7a09fd3ac" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b8a6912adc7a4d238ce981f7a09fd3ac = echarts.init(
            document.getElementById('b8a6912adc7a4d238ce981f7a09fd3ac'), 'westeros', {renderer: 'canvas'});
        var option_b8a6912adc7a4d238ce981f7a09fd3ac = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uac04\ud638",
                        "value": [
                            82.74
                        ]
                    },
                    {
                        "name": "\uac74\ucd95",
                        "value": [
                            62.99
                        ]
                    },
                    {
                        "name": "\uacbd\uc601\u318d\uacbd\uc81c",
                        "value": [
                            52.66
                        ]
                    },
                    {
                        "name": "\uad50\uc721\uc77c\ubc18",
                        "value": [
                            56.44
                        ]
                    },
                    {
                        "name": "\uad50\ud1b5\u318d\uc6b4\uc1a1",
                        "value": [
                            58.29
                        ]
                    },
                    {
                        "name": "\uae30\uacc4\u318d\uae08\uc18d",
                        "value": [
                            59.52
                        ]
                    },
                    {
                        "name": "\uae30\ud0c0",
                        "value": [
                            62.19
                        ]
                    },
                    {
                        "name": "\ub18d\ub9bc\u318d\uc218\uc0b0",
                        "value": [
                            53.58
                        ]
                    },
                    {
                        "name": "\ub514\uc790\uc778",
                        "value": [
                            55.85
                        ]
                    },
                    {
                        "name": "\ubb34\uc6a9\u318d\uccb4\uc721",
                        "value": [
                            53.19
                        ]
                    },
                    {
                        "name": "\ubbf8\uc220\u318d\uc870\ud615",
                        "value": [
                            47.61
                        ]
                    },
                    {
                        "name": "\ubc95\ub960",
                        "value": [
                            49.17
                        ]
                    },
                    {
                        "name": "\uc0ac\ud68c\uacfc\ud559",
                        "value": [
                            53.5
                        ]
                    },
                    {
                        "name": "\uc0b0\uc5c5",
                        "value": [
                            63.11
                        ]
                    },
                    {
                        "name": "\uc0dd\ubb3c\u318d\ud654\ud559\u318d\ud658\uacbd",
                        "value": [
                            50.6
                        ]
                    },
                    {
                        "name": "\uc0dd\ud65c\uacfc\ud559",
                        "value": [
                            52.07
                        ]
                    },
                    {
                        "name": "\uc18c\uc7ac\u318d\uc7ac\ub8cc",
                        "value": [
                            53.7
                        ]
                    },
                    {
                        "name": "\uc218\ud559\u318d\ubb3c\ub9ac\u318d\ucc9c\ubb38\u318d\uc9c0\ub9ac",
                        "value": [
                            49.34
                        ]
                    },
                    {
                        "name": "\uc57d\ud559",
                        "value": [
                            77.04
                        ]
                    },
                    {
                        "name": "\uc5b8\uc5b4\u318d\ubb38\ud559",
                        "value": [
                            45.06
                        ]
                    },
                    {
                        "name": "\uc5f0\uadf9\u318d\uc601\ud654",
                        "value": [
                            52.94
                        ]
                    },
                    {
                        "name": "\uc720\uc544\uad50\uc721",
                        "value": [
                            71.78
                        ]
                    },
                    {
                        "name": "\uc74c\uc545",
                        "value": [
                            41.82
                        ]
                    },
                    {
                        "name": "\uc751\uc6a9\uc608\uc220",
                        "value": [
                            55.72
                        ]
                    },
                    {
                        "name": "\uc758\ub8cc",
                        "value": [
                            87.23
                        ]
                    },
                    {
                        "name": "\uc778\ubb38\uacfc\ud559",
                        "value": [
                            40.96
                        ]
                    },
                    {
                        "name": "\uc804\uae30\u318d\uc804\uc790",
                        "value": [
                            56.49
                        ]
                    },
                    {
                        "name": "\uc815\ubc00\u318d\uc5d0\ub108\uc9c0",
                        "value": [
                            59.89
                        ]
                    },
                    {
                        "name": "\uc911\ub4f1\uad50\uc721",
                        "value": [
                            40.09
                        ]
                    },
                    {
                        "name": "\ucd08\ub4f1\uad50\uc721",
                        "value": [
                            57.78
                        ]
                    },
                    {
                        "name": "\uce58\ub8cc\u318d\ubcf4\uac74",
                        "value": [
                            71.0
                        ]
                    },
                    {
                        "name": "\ucef4\ud4e8\ud130\u318d\ud1b5\uc2e0",
                        "value": [
                            59.27
                        ]
                    },
                    {
                        "name": "\ud1a0\ubaa9\u318d\ub3c4\uc2dc",
                        "value": [
                            62.28
                        ]
                    },
                    {
                        "name": "\ud2b9\uc218\uad50\uc721",
                        "value": [
                            56.61
                        ]
                    },
                    {
                        "name": "\ud654\uacf5",
                        "value": [
                            54.15
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "PRE-COVID",
                "POST-COVID"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uac04\ud638",
                        "\uac74\ucd95",
                        "\uacbd\uc601\u318d\uacbd\uc81c",
                        "\uad50\uc721\uc77c\ubc18",
                        "\uad50\ud1b5\u318d\uc6b4\uc1a1",
                        "\uae30\uacc4\u318d\uae08\uc18d",
                        "\uae30\ud0c0",
                        "\ub18d\ub9bc\u318d\uc218\uc0b0",
                        "\ub514\uc790\uc778",
                        "\ubb34\uc6a9\u318d\uccb4\uc721",
                        "\ubbf8\uc220\u318d\uc870\ud615",
                        "\ubc95\ub960",
                        "\uc0ac\ud68c\uacfc\ud559",
                        "\uc0b0\uc5c5",
                        "\uc0dd\ubb3c\u318d\ud654\ud559\u318d\ud658\uacbd",
                        "\uc0dd\ud65c\uacfc\ud559",
                        "\uc18c\uc7ac\u318d\uc7ac\ub8cc",
                        "\uc218\ud559\u318d\ubb3c\ub9ac\u318d\ucc9c\ubb38\u318d\uc9c0\ub9ac",
                        "\uc57d\ud559",
                        "\uc5b8\uc5b4\u318d\ubb38\ud559",
                        "\uc5f0\uadf9\u318d\uc601\ud654",
                        "\uc720\uc544\uad50\uc721",
                        "\uc74c\uc545",
                        "\uc751\uc6a9\uc608\uc220",
                        "\uc758\ub8cc",
                        "\uc778\ubb38\uacfc\ud559",
                        "\uc804\uae30\u318d\uc804\uc790",
                        "\uc815\ubc00\u318d\uc5d0\ub108\uc9c0",
                        "\uc911\ub4f1\uad50\uc721",
                        "\ucd08\ub4f1\uad50\uc721",
                        "\uce58\ub8cc\u318d\ubcf4\uac74",
                        "\ucef4\ud4e8\ud130\u318d\ud1b5\uc2e0",
                        "\ud1a0\ubaa9\u318d\ub3c4\uc2dc",
                        "\ud2b9\uc218\uad50\uc721",
                        "\ud654\uacf5"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac04\ud638",
                            "value": [
                                85.66
                            ]
                        },
                        {
                            "name": "\uac74\ucd95",
                            "value": [
                                64.39
                            ]
                        },
                        {
                            "name": "\uacbd\uc601\u318d\uacbd\uc81c",
                            "value": [
                                56.31
                            ]
                        },
                        {
                            "name": "\uad50\uc721\uc77c\ubc18",
                            "value": [
                                55.26
                            ]
                        },
                        {
                            "name": "\uad50\ud1b5\u318d\uc6b4\uc1a1",
                            "value": [
                                60.33
                            ]
                        },
                        {
                            "name": "\uae30\uacc4\u318d\uae08\uc18d",
                            "value": [
                                63.08
                            ]
                        },
                        {
                            "name": "\uae30\ud0c0",
                            "value": [
                                64.56
                            ]
                        },
                        {
                            "name": "\ub18d\ub9bc\u318d\uc218\uc0b0",
                            "value": [
                                56.45
                            ]
                        },
                        {
                            "name": "\ub514\uc790\uc778",
                            "value": [
                                58.21
                            ]
                        },
                        {
                            "name": "\ubb34\uc6a9\u318d\uccb4\uc721",
                            "value": [
                                55.78
                            ]
                        },
                        {
                            "name": "\ubbf8\uc220\u318d\uc870\ud615",
                            "value": [
                                48.61
                            ]
                        },
                        {
                            "name": "\ubc95\ub960",
                            "value": [
                                50.78
                            ]
                        },
                        {
                            "name": "\uc0ac\ud68c\uacfc\ud559",
                            "value": [
                                55.9
                            ]
                        },
                        {
                            "name": "\uc0b0\uc5c5",
                            "value": [
                                66.55
                            ]
                        },
                        {
                            "name": "\uc0dd\ubb3c\u318d\ud654\ud559\u318d\ud658\uacbd",
                            "value": [
                                49.7
                            ]
                        },
                        {
                            "name": "\uc0dd\ud65c\uacfc\ud559",
                            "value": [
                                56.43
                            ]
                        },
                        {
                            "name": "\uc18c\uc7ac\u318d\uc7ac\ub8cc",
                            "value": [
                                56.68
                            ]
                        },
                        {
                            "name": "\uc218\ud559\u318d\ubb3c\ub9ac\u318d\ucc9c\ubb38\u318d\uc9c0\ub9ac",
                            "value": [
                                51.32
                            ]
                        },
                        {
                            "name": "\uc57d\ud559",
                            "value": [
                                75.55
                            ]
                        },
                        {
                            "name": "\uc5b8\uc5b4\u318d\ubb38\ud559",
                            "value": [
                                48.45
                            ]
                        },
                        {
                            "name": "\uc5f0\uadf9\u318d\uc601\ud654",
                            "value": [
                                55.52
                            ]
                        },
                        {
                            "name": "\uc720\uc544\uad50\uc721",
                            "value": [
                                73.19
                            ]
                        },
                        {
                            "name": "\uc74c\uc545",
                            "value": [
                                45.78
                            ]
                        },
                        {
                            "name": "\uc751\uc6a9\uc608\uc220",
                            "value": [
                                58.47
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                87.75
                            ]
                        },
                        {
                            "name": "\uc778\ubb38\uacfc\ud559",
                            "value": [
                                41.07
                            ]
                        },
                        {
                            "name": "\uc804\uae30\u318d\uc804\uc790",
                            "value": [
                                59.87
                            ]
                        },
                        {
                            "name": "\uc815\ubc00\u318d\uc5d0\ub108\uc9c0",
                            "value": [
                                60.72
                            ]
                        },
                        {
                            "name": "\uc911\ub4f1\uad50\uc721",
                            "value": [
                                39.16
                            ]
                        },
                        {
                            "name": "\ucd08\ub4f1\uad50\uc721",
                            "value": [
                                60.41
                            ]
                        },
                        {
                            "name": "\uce58\ub8cc\u318d\ubcf4\uac74",
                            "value": [
                                71.87
                            ]
                        },
                        {
                            "name": "\ucef4\ud4e8\ud130\u318d\ud1b5\uc2e0",
                            "value": [
                                61.36
                            ]
                        },
                        {
                            "name": "\ud1a0\ubaa9\u318d\ub3c4\uc2dc",
                            "value": [
                                60.76
                            ]
                        },
                        {
                            "name": "\ud2b9\uc218\uad50\uc721",
                            "value": [
                                54.91
                            ]
                        },
                        {
                            "name": "\ud654\uacf5",
                            "value": [
                                56.85
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ud559\uacfc\ubcc4 \ucde8\uc5c5 \uc778\uc6d0 \ube44\uc728",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc9c1 \uac74 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uac04\ud638",
                        "\uac74\ucd95",
                        "\uacbd\uc601\u318d\uacbd\uc81c",
                        "\uad50\uc721\uc77c\ubc18",
                        "\uad50\ud1b5\u318d\uc6b4\uc1a1",
                        "\uae30\uacc4\u318d\uae08\uc18d",
                        "\uae30\ud0c0",
                        "\ub18d\ub9bc\u318d\uc218\uc0b0",
                        "\ub514\uc790\uc778",
                        "\ubb34\uc6a9\u318d\uccb4\uc721",
                        "\ubbf8\uc220\u318d\uc870\ud615",
                        "\ubc95\ub960",
                        "\uc0ac\ud68c\uacfc\ud559",
                        "\uc0b0\uc5c5",
                        "\uc0dd\ubb3c\u318d\ud654\ud559\u318d\ud658\uacbd",
                        "\uc0dd\ud65c\uacfc\ud559",
                        "\uc18c\uc7ac\u318d\uc7ac\ub8cc",
                        "\uc218\ud559\u318d\ubb3c\ub9ac\u318d\ucc9c\ubb38\u318d\uc9c0\ub9ac",
                        "\uc57d\ud559",
                        "\uc5b8\uc5b4\u318d\ubb38\ud559",
                        "\uc5f0\uadf9\u318d\uc601\ud654",
                        "\uc720\uc544\uad50\uc721",
                        "\uc74c\uc545",
                        "\uc751\uc6a9\uc608\uc220",
                        "\uc758\ub8cc",
                        "\uc778\ubb38\uacfc\ud559",
                        "\uc804\uae30\u318d\uc804\uc790",
                        "\uc815\ubc00\u318d\uc5d0\ub108\uc9c0",
                        "\uc911\ub4f1\uad50\uc721",
                        "\ucd08\ub4f1\uad50\uc721",
                        "\uce58\ub8cc\u318d\ubcf4\uac74",
                        "\ucef4\ud4e8\ud130\u318d\ud1b5\uc2e0",
                        "\ud1a0\ubaa9\u318d\ub3c4\uc2dc",
                        "\ud2b9\uc218\uad50\uc721",
                        "\ud654\uacf5"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac04\ud638",
                            "value": [
                                82.74
                            ]
                        },
                        {
                            "name": "\uac74\ucd95",
                            "value": [
                                62.99
                            ]
                        },
                        {
                            "name": "\uacbd\uc601\u318d\uacbd\uc81c",
                            "value": [
                                52.66
                            ]
                        },
                        {
                            "name": "\uad50\uc721\uc77c\ubc18",
                            "value": [
                                56.44
                            ]
                        },
                        {
                            "name": "\uad50\ud1b5\u318d\uc6b4\uc1a1",
                            "value": [
                                58.29
                            ]
                        },
                        {
                            "name": "\uae30\uacc4\u318d\uae08\uc18d",
                            "value": [
                                59.52
                            ]
                        },
                        {
                            "name": "\uae30\ud0c0",
                            "value": [
                                62.19
                            ]
                        },
                        {
                            "name": "\ub18d\ub9bc\u318d\uc218\uc0b0",
                            "value": [
                                53.58
                            ]
                        },
                        {
                            "name": "\ub514\uc790\uc778",
                            "value": [
                                55.85
                            ]
                        },
                        {
                            "name": "\ubb34\uc6a9\u318d\uccb4\uc721",
                            "value": [
                                53.19
                            ]
                        },
                        {
                            "name": "\ubbf8\uc220\u318d\uc870\ud615",
                            "value": [
                                47.61
                            ]
                        },
                        {
                            "name": "\ubc95\ub960",
                            "value": [
                                49.17
                            ]
                        },
                        {
                            "name": "\uc0ac\ud68c\uacfc\ud559",
                            "value": [
                                53.5
                            ]
                        },
                        {
                            "name": "\uc0b0\uc5c5",
                            "value": [
                                63.11
                            ]
                        },
                        {
                            "name": "\uc0dd\ubb3c\u318d\ud654\ud559\u318d\ud658\uacbd",
                            "value": [
                                50.6
                            ]
                        },
                        {
                            "name": "\uc0dd\ud65c\uacfc\ud559",
                            "value": [
                                52.07
                            ]
                        },
                        {
                            "name": "\uc18c\uc7ac\u318d\uc7ac\ub8cc",
                            "value": [
                                53.7
                            ]
                        },
                        {
                            "name": "\uc218\ud559\u318d\ubb3c\ub9ac\u318d\ucc9c\ubb38\u318d\uc9c0\ub9ac",
                            "value": [
                                49.34
                            ]
                        },
                        {
                            "name": "\uc57d\ud559",
                            "value": [
                                77.04
                            ]
                        },
                        {
                            "name": "\uc5b8\uc5b4\u318d\ubb38\ud559",
                            "value": [
                                45.06
                            ]
                        },
                        {
                            "name": "\uc5f0\uadf9\u318d\uc601\ud654",
                            "value": [
                                52.94
                            ]
                        },
                        {
                            "name": "\uc720\uc544\uad50\uc721",
                            "value": [
                                71.78
                            ]
                        },
                        {
                            "name": "\uc74c\uc545",
                            "value": [
                                41.82
                            ]
                        },
                        {
                            "name": "\uc751\uc6a9\uc608\uc220",
                            "value": [
                                55.72
                            ]
                        },
                        {
                            "name": "\uc758\ub8cc",
                            "value": [
                                87.23
                            ]
                        },
                        {
                            "name": "\uc778\ubb38\uacfc\ud559",
                            "value": [
                                40.96
                            ]
                        },
                        {
                            "name": "\uc804\uae30\u318d\uc804\uc790",
                            "value": [
                                56.49
                            ]
                        },
                        {
                            "name": "\uc815\ubc00\u318d\uc5d0\ub108\uc9c0",
                            "value": [
                                59.89
                            ]
                        },
                        {
                            "name": "\uc911\ub4f1\uad50\uc721",
                            "value": [
                                40.09
                            ]
                        },
                        {
                            "name": "\ucd08\ub4f1\uad50\uc721",
                            "value": [
                                57.78
                            ]
                        },
                        {
                            "name": "\uce58\ub8cc\u318d\ubcf4\uac74",
                            "value": [
                                71.0
                            ]
                        },
                        {
                            "name": "\ucef4\ud4e8\ud130\u318d\ud1b5\uc2e0",
                            "value": [
                                59.27
                            ]
                        },
                        {
                            "name": "\ud1a0\ubaa9\u318d\ub3c4\uc2dc",
                            "value": [
                                62.28
                            ]
                        },
                        {
                            "name": "\ud2b9\uc218\uad50\uc721",
                            "value": [
                                56.61
                            ]
                        },
                        {
                            "name": "\ud654\uacf5",
                            "value": [
                                54.15
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\ud559\uacfc\ubcc4 \ucde8\uc5c5 \uc778\uc6d0 \ube44\uc728",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc9c1 \uac74 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_b8a6912adc7a4d238ce981f7a09fd3ac.setOption(option_b8a6912adc7a4d238ce981f7a09fd3ac);
    </script>
</body>
</html>
