<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="75dc40296eb94a759564a25a2a794f67" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_75dc40296eb94a759564a25a2a794f67 = echarts.init(
            document.getElementById('75dc40296eb94a759564a25a2a794f67'), 'westeros', {renderer: 'canvas'});
        var option_75dc40296eb94a759564a25a2a794f67 = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\ucd08\ub4f1\uc878\uc774\ud558",
                        "value": [
                            416841
                        ]
                    },
                    {
                        "name": "\uc911\uc878",
                        "value": [
                            287514
                        ]
                    },
                    {
                        "name": "\uace0\uc878",
                        "value": [
                            2678720
                        ]
                    },
                    {
                        "name": "\uc804\ubb38\ub300\uc878",
                        "value": [
                            1522785
                        ]
                    },
                    {
                        "name": "\ub300\uc878",
                        "value": [
                            1955375
                        ]
                    },
                    {
                        "name": "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                        "value": [
                            239308
                        ]
                    },
                    {
                        "name": "\ubd84\ub958\ubd88\ub2a5",
                        "value": [
                            386792
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "PRE-COVID19\ub144\ub3c4",
                "POST-COVID19\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\ucd08\ub4f1\uc878\uc774\ud558",
                        "\uc911\uc878",
                        "\uace0\uc878",
                        "\uc804\ubb38\ub300\uc878",
                        "\ub300\uc878",
                        "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                        "\ubd84\ub958\ubd88\ub2a5"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\ucd08\ub4f1\uc878\uc774\ud558",
                            "value": [
                                140296
                            ]
                        },
                        {
                            "name": "\uc911\uc878",
                            "value": [
                                265304
                            ]
                        },
                        {
                            "name": "\uace0\uc878",
                            "value": [
                                2174769
                            ]
                        },
                        {
                            "name": "\uc804\ubb38\ub300\uc878",
                            "value": [
                                1218379
                            ]
                        },
                        {
                            "name": "\ub300\uc878",
                            "value": [
                                1543870
                            ]
                        },
                        {
                            "name": "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                            "value": [
                                134810
                            ]
                        },
                        {
                            "name": "\ubd84\ub958\ubd88\ub2a5",
                            "value": [
                                897
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \ud559\ub825\ubcc4 \uad6c\uc9c1 \uac74\uc218",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc9c1 \uac74 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\ucd08\ub4f1\uc878\uc774\ud558",
                        "\uc911\uc878",
                        "\uace0\uc878",
                        "\uc804\ubb38\ub300\uc878",
                        "\ub300\uc878",
                        "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                        "\ubd84\ub958\ubd88\ub2a5"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\ucd08\ub4f1\uc878\uc774\ud558",
                            "value": [
                                416841
                            ]
                        },
                        {
                            "name": "\uc911\uc878",
                            "value": [
                                287514
                            ]
                        },
                        {
                            "name": "\uace0\uc878",
                            "value": [
                                2678720
                            ]
                        },
                        {
                            "name": "\uc804\ubb38\ub300\uc878",
                            "value": [
                                1522785
                            ]
                        },
                        {
                            "name": "\ub300\uc878",
                            "value": [
                                1955375
                            ]
                        },
                        {
                            "name": "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                            "value": [
                                239308
                            ]
                        },
                        {
                            "name": "\ubd84\ub958\ubd88\ub2a5",
                            "value": [
                                386792
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \ud559\ub825\ubcc4 \uad6c\uc9c1 \uac74\uc218",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc9c1 \uac74 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_75dc40296eb94a759564a25a2a794f67.setOption(option_75dc40296eb94a759564a25a2a794f67);
    </script>
<br/>                <div id="29dc00163dd5491a874e7bc7f00128ec" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_29dc00163dd5491a874e7bc7f00128ec = echarts.init(
            document.getElementById('29dc00163dd5491a874e7bc7f00128ec'), 'westeros', {renderer: 'canvas'});
        var option_29dc00163dd5491a874e7bc7f00128ec = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\ucd08\ub4f1\uc878\uc774\ud558",
                        "value": [
                            106302
                        ]
                    },
                    {
                        "name": "\uc911\uc878",
                        "value": [
                            23846
                        ]
                    },
                    {
                        "name": "\uace0\uc878",
                        "value": [
                            476964
                        ]
                    },
                    {
                        "name": "\uc804\ubb38\ub300\uc878",
                        "value": [
                            250148
                        ]
                    },
                    {
                        "name": "\ub300\uc878",
                        "value": [
                            69700
                        ]
                    },
                    {
                        "name": "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                        "value": [
                            5591
                        ]
                    },
                    {
                        "name": "\ubd84\ub958\ubd88\ub2a5",
                        "value": [
                            2365128
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "PRE-COVID19\ub144\ub3c4",
                "POST-COVID19\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\ucd08\ub4f1\uc878\uc774\ud558",
                        "\uc911\uc878",
                        "\uace0\uc878",
                        "\uc804\ubb38\ub300\uc878",
                        "\ub300\uc878",
                        "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                        "\ubd84\ub958\ubd88\ub2a5"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\ucd08\ub4f1\uc878\uc774\ud558",
                            "value": [
                                2102
                            ]
                        },
                        {
                            "name": "\uc911\uc878",
                            "value": [
                                26048
                            ]
                        },
                        {
                            "name": "\uace0\uc878",
                            "value": [
                                488271
                            ]
                        },
                        {
                            "name": "\uc804\ubb38\ub300\uc878",
                            "value": [
                                229569
                            ]
                        },
                        {
                            "name": "\ub300\uc878",
                            "value": [
                                56891
                            ]
                        },
                        {
                            "name": "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                            "value": [
                                2837
                            ]
                        },
                        {
                            "name": "\ubd84\ub958\ubd88\ub2a5",
                            "value": [
                                2108429
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \ud559\ub825\ubcc4 \uad6c\uc778 \uc778\uc6d0",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc778 \uc778\uc6d0 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\ucd08\ub4f1\uc878\uc774\ud558",
                        "\uc911\uc878",
                        "\uace0\uc878",
                        "\uc804\ubb38\ub300\uc878",
                        "\ub300\uc878",
                        "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                        "\ubd84\ub958\ubd88\ub2a5"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\ucd08\ub4f1\uc878\uc774\ud558",
                            "value": [
                                106302
                            ]
                        },
                        {
                            "name": "\uc911\uc878",
                            "value": [
                                23846
                            ]
                        },
                        {
                            "name": "\uace0\uc878",
                            "value": [
                                476964
                            ]
                        },
                        {
                            "name": "\uc804\ubb38\ub300\uc878",
                            "value": [
                                250148
                            ]
                        },
                        {
                            "name": "\ub300\uc878",
                            "value": [
                                69700
                            ]
                        },
                        {
                            "name": "\ub300\ud559\uc6d0\uc878\u00a0\uc774\uc0c1",
                            "value": [
                                5591
                            ]
                        },
                        {
                            "name": "\ubd84\ub958\ubd88\ub2a5",
                            "value": [
                                2365128
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \ud559\ub825\ubcc4 \uad6c\uc778 \uc778\uc6d0",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc778 \uc778\uc6d0 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_29dc00163dd5491a874e7bc7f00128ec.setOption(option_29dc00163dd5491a874e7bc7f00128ec);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
