<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="6e7cd9b18c6f46d29c859296744a08f4" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_6e7cd9b18c6f46d29c859296744a08f4 = echarts.init(
            document.getElementById('6e7cd9b18c6f46d29c859296744a08f4'), 'westeros', {renderer: 'canvas'});
        var option_6e7cd9b18c6f46d29c859296744a08f4 = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uad00\ub9ac\uc9c1",
                        "value": [
                            194892
                        ]
                    },
                    {
                        "name": "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                        "value": [
                            1789624
                        ]
                    },
                    {
                        "name": "\uae08\uc735\ubcf4\ud5d8",
                        "value": [
                            56242
                        ]
                    },
                    {
                        "name": "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                        "value": [
                            198442
                        ]
                    },
                    {
                        "name": "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                        "value": [
                            39172
                        ]
                    },
                    {
                        "name": "\ubcf4\uac74\uc758\ub8cc",
                        "value": [
                            648445
                        ]
                    },
                    {
                        "name": "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                        "value": [
                            404623
                        ]
                    },
                    {
                        "name": "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                        "value": [
                            362519
                        ]
                    },
                    {
                        "name": "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                        "value": [
                            297670
                        ]
                    },
                    {
                        "name": "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                        "value": [
                            346943
                        ]
                    },
                    {
                        "name": "\uacbd\ube44\ubc0f\uccad\uc18c",
                        "value": [
                            350744
                        ]
                    },
                    {
                        "name": "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                        "value": [
                            200063
                        ]
                    },
                    {
                        "name": "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                        "value": [
                            412032
                        ]
                    },
                    {
                        "name": "\uac74\uc124\uad00\ub828\uc9c1",
                        "value": [
                            350471
                        ]
                    },
                    {
                        "name": "\uae30\uacc4\uad00\ub9ac\uc9c1",
                        "value": [
                            314657
                        ]
                    },
                    {
                        "name": "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                        "value": [
                            107127
                        ]
                    },
                    {
                        "name": "\ud654\ud559\uad00\ub828\uc9c1",
                        "value": [
                            61783
                        ]
                    },
                    {
                        "name": "\uc12c\uc720\ubc0f\uc758\ubcf5",
                        "value": [
                            31232
                        ]
                    },
                    {
                        "name": "\uc804\uae30\uc804\uc790",
                        "value": [
                            368021
                        ]
                    },
                    {
                        "name": "\uc815\ubcf4\ud1b5\uc2e0",
                        "value": [
                            170460
                        ]
                    },
                    {
                        "name": "\uc2dd\ud488\uac00\uacf5",
                        "value": [
                            87434
                        ]
                    },
                    {
                        "name": "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                        "value": [
                            364600
                        ]
                    },
                    {
                        "name": "\ub18d\ub9bc\uc5b4\uc5c5",
                        "value": [
                            49712
                        ]
                    },
                    {
                        "name": "\uad70\uc778",
                        "value": [
                            2919
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "PRE-COVID19\ub144\ub3c4",
                "POST-COVID19\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uad00\ub9ac\uc9c1",
                        "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                        "\uae08\uc735\ubcf4\ud5d8",
                        "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                        "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                        "\ubcf4\uac74\uc758\ub8cc",
                        "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                        "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                        "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                        "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                        "\uacbd\ube44\ubc0f\uccad\uc18c",
                        "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                        "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                        "\uac74\uc124\uad00\ub828\uc9c1",
                        "\uae30\uacc4\uad00\ub9ac\uc9c1",
                        "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                        "\ud654\ud559\uad00\ub828\uc9c1",
                        "\uc12c\uc720\ubc0f\uc758\ubcf5",
                        "\uc804\uae30\uc804\uc790",
                        "\uc815\ubcf4\ud1b5\uc2e0",
                        "\uc2dd\ud488\uac00\uacf5",
                        "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                        "\ub18d\ub9bc\uc5b4\uc5c5",
                        "\uad70\uc778"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uad00\ub9ac\uc9c1",
                            "value": [
                                186373
                            ]
                        },
                        {
                            "name": "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                            "value": [
                                1502129
                            ]
                        },
                        {
                            "name": "\uae08\uc735\ubcf4\ud5d8",
                            "value": [
                                44597
                            ]
                        },
                        {
                            "name": "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                            "value": [
                                140331
                            ]
                        },
                        {
                            "name": "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                            "value": [
                                24678
                            ]
                        },
                        {
                            "name": "\ubcf4\uac74\uc758\ub8cc",
                            "value": [
                                406989
                            ]
                        },
                        {
                            "name": "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                            "value": [
                                281301
                            ]
                        },
                        {
                            "name": "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                            "value": [
                                258211
                            ]
                        },
                        {
                            "name": "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                            "value": [
                                225367
                            ]
                        },
                        {
                            "name": "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                            "value": [
                                241556
                            ]
                        },
                        {
                            "name": "\uacbd\ube44\ubc0f\uccad\uc18c",
                            "value": [
                                268373
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                            "value": [
                                134359
                            ]
                        },
                        {
                            "name": "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                            "value": [
                                251506
                            ]
                        },
                        {
                            "name": "\uac74\uc124\uad00\ub828\uc9c1",
                            "value": [
                                275044
                            ]
                        },
                        {
                            "name": "\uae30\uacc4\uad00\ub9ac\uc9c1",
                            "value": [
                                272958
                            ]
                        },
                        {
                            "name": "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                            "value": [
                                89597
                            ]
                        },
                        {
                            "name": "\ud654\ud559\uad00\ub828\uc9c1",
                            "value": [
                                48855
                            ]
                        },
                        {
                            "name": "\uc12c\uc720\ubc0f\uc758\ubcf5",
                            "value": [
                                25598
                            ]
                        },
                        {
                            "name": "\uc804\uae30\uc804\uc790",
                            "value": [
                                310667
                            ]
                        },
                        {
                            "name": "\uc815\ubcf4\ud1b5\uc2e0",
                            "value": [
                                128768
                            ]
                        },
                        {
                            "name": "\uc2dd\ud488\uac00\uacf5",
                            "value": [
                                58295
                            ]
                        },
                        {
                            "name": "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                            "value": [
                                269343
                            ]
                        },
                        {
                            "name": "\ub18d\ub9bc\uc5b4\uc5c5",
                            "value": [
                                31975
                            ]
                        },
                        {
                            "name": "\uad70\uc778",
                            "value": [
                                1123
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \uac01 \uc9c1\uc885\ubcc4 \uad6c\uc9c1 \uac74\uc218",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc9c1 \uac74 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uad00\ub9ac\uc9c1",
                        "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                        "\uae08\uc735\ubcf4\ud5d8",
                        "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                        "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                        "\ubcf4\uac74\uc758\ub8cc",
                        "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                        "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                        "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                        "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                        "\uacbd\ube44\ubc0f\uccad\uc18c",
                        "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                        "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                        "\uac74\uc124\uad00\ub828\uc9c1",
                        "\uae30\uacc4\uad00\ub9ac\uc9c1",
                        "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                        "\ud654\ud559\uad00\ub828\uc9c1",
                        "\uc12c\uc720\ubc0f\uc758\ubcf5",
                        "\uc804\uae30\uc804\uc790",
                        "\uc815\ubcf4\ud1b5\uc2e0",
                        "\uc2dd\ud488\uac00\uacf5",
                        "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                        "\ub18d\ub9bc\uc5b4\uc5c5",
                        "\uad70\uc778"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uad00\ub9ac\uc9c1",
                            "value": [
                                194892
                            ]
                        },
                        {
                            "name": "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                            "value": [
                                1789624
                            ]
                        },
                        {
                            "name": "\uae08\uc735\ubcf4\ud5d8",
                            "value": [
                                56242
                            ]
                        },
                        {
                            "name": "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                            "value": [
                                198442
                            ]
                        },
                        {
                            "name": "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                            "value": [
                                39172
                            ]
                        },
                        {
                            "name": "\ubcf4\uac74\uc758\ub8cc",
                            "value": [
                                648445
                            ]
                        },
                        {
                            "name": "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                            "value": [
                                404623
                            ]
                        },
                        {
                            "name": "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                            "value": [
                                362519
                            ]
                        },
                        {
                            "name": "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                            "value": [
                                297670
                            ]
                        },
                        {
                            "name": "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                            "value": [
                                346943
                            ]
                        },
                        {
                            "name": "\uacbd\ube44\ubc0f\uccad\uc18c",
                            "value": [
                                350744
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                            "value": [
                                200063
                            ]
                        },
                        {
                            "name": "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                            "value": [
                                412032
                            ]
                        },
                        {
                            "name": "\uac74\uc124\uad00\ub828\uc9c1",
                            "value": [
                                350471
                            ]
                        },
                        {
                            "name": "\uae30\uacc4\uad00\ub9ac\uc9c1",
                            "value": [
                                314657
                            ]
                        },
                        {
                            "name": "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                            "value": [
                                107127
                            ]
                        },
                        {
                            "name": "\ud654\ud559\uad00\ub828\uc9c1",
                            "value": [
                                61783
                            ]
                        },
                        {
                            "name": "\uc12c\uc720\ubc0f\uc758\ubcf5",
                            "value": [
                                31232
                            ]
                        },
                        {
                            "name": "\uc804\uae30\uc804\uc790",
                            "value": [
                                368021
                            ]
                        },
                        {
                            "name": "\uc815\ubcf4\ud1b5\uc2e0",
                            "value": [
                                170460
                            ]
                        },
                        {
                            "name": "\uc2dd\ud488\uac00\uacf5",
                            "value": [
                                87434
                            ]
                        },
                        {
                            "name": "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                            "value": [
                                364600
                            ]
                        },
                        {
                            "name": "\ub18d\ub9bc\uc5b4\uc5c5",
                            "value": [
                                49712
                            ]
                        },
                        {
                            "name": "\uad70\uc778",
                            "value": [
                                2919
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \uac01 \uc9c1\uc885\ubcc4 \uad6c\uc9c1 \uac74\uc218",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc9c1 \uac74 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_6e7cd9b18c6f46d29c859296744a08f4.setOption(option_6e7cd9b18c6f46d29c859296744a08f4);
    </script>
<br/>                <div id="748a69698c6c4ebf934a7db2bdaa49c1" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_748a69698c6c4ebf934a7db2bdaa49c1 = echarts.init(
            document.getElementById('748a69698c6c4ebf934a7db2bdaa49c1'), 'westeros', {renderer: 'canvas'});
        var option_748a69698c6c4ebf934a7db2bdaa49c1 = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uad00\ub9ac\uc9c1",
                        "value": [
                            22516
                        ]
                    },
                    {
                        "name": "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                        "value": [
                            448202
                        ]
                    },
                    {
                        "name": "\uae08\uc735\ubcf4\ud5d8",
                        "value": [
                            6561
                        ]
                    },
                    {
                        "name": "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                        "value": [
                            27731
                        ]
                    },
                    {
                        "name": "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                        "value": [
                            3357
                        ]
                    },
                    {
                        "name": "\ubcf4\uac74\uc758\ub8cc",
                        "value": [
                            257554
                        ]
                    },
                    {
                        "name": "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                        "value": [
                            122340
                        ]
                    },
                    {
                        "name": "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                        "value": [
                            75004
                        ]
                    },
                    {
                        "name": "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                        "value": [
                            179051
                        ]
                    },
                    {
                        "name": "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                        "value": [
                            117414
                        ]
                    },
                    {
                        "name": "\uacbd\ube44\ubc0f\uccad\uc18c",
                        "value": [
                            112708
                        ]
                    },
                    {
                        "name": "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                        "value": [
                            16750
                        ]
                    },
                    {
                        "name": "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                        "value": [
                            119005
                        ]
                    },
                    {
                        "name": "\uac74\uc124\uad00\ub828\uc9c1",
                        "value": [
                            222039
                        ]
                    },
                    {
                        "name": "\uae30\uacc4\uad00\ub9ac\uc9c1",
                        "value": [
                            311794
                        ]
                    },
                    {
                        "name": "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                        "value": [
                            208940
                        ]
                    },
                    {
                        "name": "\ud654\ud559\uad00\ub828\uc9c1",
                        "value": [
                            108374
                        ]
                    },
                    {
                        "name": "\uc12c\uc720\ubc0f\uc758\ubcf5",
                        "value": [
                            28064
                        ]
                    },
                    {
                        "name": "\uc804\uae30\uc804\uc790",
                        "value": [
                            165888
                        ]
                    },
                    {
                        "name": "\uc815\ubcf4\ud1b5\uc2e0",
                        "value": [
                            43711
                        ]
                    },
                    {
                        "name": "\uc2dd\ud488\uac00\uacf5",
                        "value": [
                            58447
                        ]
                    },
                    {
                        "name": "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                        "value": [
                            521635
                        ]
                    },
                    {
                        "name": "\ub18d\ub9bc\uc5b4\uc5c5",
                        "value": [
                            93581
                        ]
                    },
                    {
                        "name": "\uad70\uc778",
                        "value": [
                            18
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "PRE-COVID19\ub144\ub3c4",
                "POST-COVID19\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uad00\ub9ac\uc9c1",
                        "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                        "\uae08\uc735\ubcf4\ud5d8",
                        "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                        "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                        "\ubcf4\uac74\uc758\ub8cc",
                        "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                        "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                        "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                        "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                        "\uacbd\ube44\ubc0f\uccad\uc18c",
                        "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                        "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                        "\uac74\uc124\uad00\ub828\uc9c1",
                        "\uae30\uacc4\uad00\ub9ac\uc9c1",
                        "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                        "\ud654\ud559\uad00\ub828\uc9c1",
                        "\uc12c\uc720\ubc0f\uc758\ubcf5",
                        "\uc804\uae30\uc804\uc790",
                        "\uc815\ubcf4\ud1b5\uc2e0",
                        "\uc2dd\ud488\uac00\uacf5",
                        "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                        "\ub18d\ub9bc\uc5b4\uc5c5",
                        "\uad70\uc778"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uad00\ub9ac\uc9c1",
                            "value": [
                                15933
                            ]
                        },
                        {
                            "name": "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                            "value": [
                                411751
                            ]
                        },
                        {
                            "name": "\uae08\uc735\ubcf4\ud5d8",
                            "value": [
                                7229
                            ]
                        },
                        {
                            "name": "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                            "value": [
                                25381
                            ]
                        },
                        {
                            "name": "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                            "value": [
                                3536
                            ]
                        },
                        {
                            "name": "\ubcf4\uac74\uc758\ub8cc",
                            "value": [
                                177375
                            ]
                        },
                        {
                            "name": "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                            "value": [
                                85356
                            ]
                        },
                        {
                            "name": "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                            "value": [
                                69626
                            ]
                        },
                        {
                            "name": "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                            "value": [
                                168357
                            ]
                        },
                        {
                            "name": "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                            "value": [
                                123087
                            ]
                        },
                        {
                            "name": "\uacbd\ube44\ubc0f\uccad\uc18c",
                            "value": [
                                108698
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                            "value": [
                                24347
                            ]
                        },
                        {
                            "name": "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                            "value": [
                                106932
                            ]
                        },
                        {
                            "name": "\uac74\uc124\uad00\ub828\uc9c1",
                            "value": [
                                213591
                            ]
                        },
                        {
                            "name": "\uae30\uacc4\uad00\ub9ac\uc9c1",
                            "value": [
                                291860
                            ]
                        },
                        {
                            "name": "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                            "value": [
                                192932
                            ]
                        },
                        {
                            "name": "\ud654\ud559\uad00\ub828\uc9c1",
                            "value": [
                                97241
                            ]
                        },
                        {
                            "name": "\uc12c\uc720\ubc0f\uc758\ubcf5",
                            "value": [
                                27330
                            ]
                        },
                        {
                            "name": "\uc804\uae30\uc804\uc790",
                            "value": [
                                155412
                            ]
                        },
                        {
                            "name": "\uc815\ubcf4\ud1b5\uc2e0",
                            "value": [
                                33459
                            ]
                        },
                        {
                            "name": "\uc2dd\ud488\uac00\uacf5",
                            "value": [
                                57252
                            ]
                        },
                        {
                            "name": "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                            "value": [
                                426487
                            ]
                        },
                        {
                            "name": "\ub18d\ub9bc\uc5b4\uc5c5",
                            "value": [
                                90955
                            ]
                        },
                        {
                            "name": "\uad70\uc778",
                            "value": [
                                18
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \uac01 \uc9c1\uc885\ubcc4 \uad6c\uc778 \uc778\uc6d0",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc778 \uc778\uc6d0 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uad00\ub9ac\uc9c1",
                        "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                        "\uae08\uc735\ubcf4\ud5d8",
                        "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                        "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                        "\ubcf4\uac74\uc758\ub8cc",
                        "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                        "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                        "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                        "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                        "\uacbd\ube44\ubc0f\uccad\uc18c",
                        "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                        "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                        "\uac74\uc124\uad00\ub828\uc9c1",
                        "\uae30\uacc4\uad00\ub9ac\uc9c1",
                        "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                        "\ud654\ud559\uad00\ub828\uc9c1",
                        "\uc12c\uc720\ubc0f\uc758\ubcf5",
                        "\uc804\uae30\uc804\uc790",
                        "\uc815\ubcf4\ud1b5\uc2e0",
                        "\uc2dd\ud488\uac00\uacf5",
                        "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                        "\ub18d\ub9bc\uc5b4\uc5c5",
                        "\uad70\uc778"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "-3%",
                    "bottom": "60%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uad00\ub9ac\uc9c1",
                            "value": [
                                22516
                            ]
                        },
                        {
                            "name": "\uacbd\uc601\ud68c\uacc4\uc0ac\ubb34",
                            "value": [
                                448202
                            ]
                        },
                        {
                            "name": "\uae08\uc735\ubcf4\ud5d8",
                            "value": [
                                6561
                            ]
                        },
                        {
                            "name": "\uad50\uc721\uacfc\ud559\uc5f0\uad6c",
                            "value": [
                                27731
                            ]
                        },
                        {
                            "name": "\ubc95\ub960\uc18c\ubc29\uad50\ub3c4",
                            "value": [
                                3357
                            ]
                        },
                        {
                            "name": "\ubcf4\uac74\uc758\ub8cc",
                            "value": [
                                257554
                            ]
                        },
                        {
                            "name": "\uc0ac\ud68c\ubcf5\uc9c0\ubc0f\uc885\uad50",
                            "value": [
                                122340
                            ]
                        },
                        {
                            "name": "\ubb38\ud654\ubc29\uc1a1\uc608\uc220",
                            "value": [
                                75004
                            ]
                        },
                        {
                            "name": "\uc6b4\uc804\ubc0f\uc6b4\uc1a1",
                            "value": [
                                179051
                            ]
                        },
                        {
                            "name": "\uc601\uc5c5\uc6d0\ubc0f\ud310\ub9e4",
                            "value": [
                                117414
                            ]
                        },
                        {
                            "name": "\uacbd\ube44\ubc0f\uccad\uc18c",
                            "value": [
                                112708
                            ]
                        },
                        {
                            "name": "\ubbf8\uc6a9\uc219\ubc15\uc624\ub77d",
                            "value": [
                                16750
                            ]
                        },
                        {
                            "name": "\uc74c\uc2dd\uc11c\ube44\uc2a4",
                            "value": [
                                119005
                            ]
                        },
                        {
                            "name": "\uac74\uc124\uad00\ub828\uc9c1",
                            "value": [
                                222039
                            ]
                        },
                        {
                            "name": "\uae30\uacc4\uad00\ub9ac\uc9c1",
                            "value": [
                                311794
                            ]
                        },
                        {
                            "name": "\uc7ac\ub8cc\uad00\ub828\uc9c1",
                            "value": [
                                208940
                            ]
                        },
                        {
                            "name": "\ud654\ud559\uad00\ub828\uc9c1",
                            "value": [
                                108374
                            ]
                        },
                        {
                            "name": "\uc12c\uc720\ubc0f\uc758\ubcf5",
                            "value": [
                                28064
                            ]
                        },
                        {
                            "name": "\uc804\uae30\uc804\uc790",
                            "value": [
                                165888
                            ]
                        },
                        {
                            "name": "\uc815\ubcf4\ud1b5\uc2e0",
                            "value": [
                                43711
                            ]
                        },
                        {
                            "name": "\uc2dd\ud488\uac00\uacf5",
                            "value": [
                                58447
                            ]
                        },
                        {
                            "name": "\uc0dd\uc0b0\ub2e8\uc21c\uc9c1",
                            "value": [
                                521635
                            ]
                        },
                        {
                            "name": "\ub18d\ub9bc\uc5b4\uc5c5",
                            "value": [
                                93581
                            ]
                        },
                        {
                            "name": "\uad70\uc778",
                            "value": [
                                18
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "COVID \uc804 \ud6c4 \uac01 \uc9c1\uc885\ubcc4 \uad6c\uc778 \uc778\uc6d0",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uad6c\uc778 \uc778\uc6d0 \uc218\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_748a69698c6c4ebf934a7db2bdaa49c1.setOption(option_748a69698c6c4ebf934a7db2bdaa49c1);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
