<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="3a82e4d6a3e548409a35dd905d1fdbaa" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3a82e4d6a3e548409a35dd905d1fdbaa = echarts.init(
            document.getElementById('3a82e4d6a3e548409a35dd905d1fdbaa'), 'westeros', {renderer: 'canvas'});
        var option_3a82e4d6a3e548409a35dd905d1fdbaa = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "elasticOut",
    "animationDelay": 1000,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "2018",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                25665532,
                25663840,
                8556971,
                5914756,
                5758374,
                6106106,
                4335630,
                3801451,
                3797602,
                3963364,
                3515564,
                3086723,
                2959816,
                2871971,
                2396235,
                1247427,
                507925
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2019",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                26522397,
                27421903,
                8599368,
                6169452,
                6015249,
                6471835,
                4489951,
                4052553,
                3924261,
                4206044,
                3754172,
                3355884,
                3097400,
                2999132,
                2630881,
                1340591,
                570789
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2020",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                9471378,
                9381237,
                3014709,
                2389211,
                2161398,
                2090965,
                1444848,
                1490167,
                1371356,
                1425812,
                1316922,
                1178787,
                1046685,
                980368,
                971208,
                502585,
                224661
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2021",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                4606650,
                4041330,
                1361296,
                887626,
                963207,
                935190,
                635271,
                729242,
                644394,
                678934,
                602082,
                514641,
                433362,
                418498,
                460984,
                200757,
                106281
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019",
                "2020",
                "2021"
            ],
            "selected": {
                "2018": true,
                "2019": true,
                "2020": true,
                "2021": true
            },
            "show": true,
            "left": "40%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "icon": "pin"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 0,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\uc11c\uc6b8\uc2dc",
                "\uacbd\uae30\ub3c4",
                "\ubd80\uc0b0\uc2dc",
                "\ub300\uad6c\uc2dc",
                "\uc778\ucc9c\uc2dc",
                "\uacbd\uc0c1\ub0a8\ub3c4",
                "\uad11\uc8fc\uc2dc",
                "\ub300\uc804\uc2dc",
                "\ucda9\uccad\ub0a8\ub3c4",
                "\uacbd\uc0c1\ubd81\ub3c4",
                "\uc804\ub77c\ubd81\ub3c4",
                "\ucda9\uccad\ubd81\ub3c4",
                "\uac15\uc6d0\ub3c4",
                "\uc804\ub77c\ub0a8\ub3c4",
                "\uc6b8\uc0b0\uc2dc",
                "\uc81c\uc8fc\ub3c4",
                "\uc138\uc885\uc2dc"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\uad00\uac1d\uc218",
            "show": true,
            "scale": true,
            "nameLocation": "center",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": "Datamin",
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\uc2dc\ub3c4\ubcc4 \uc5f0\uac04 \uad00\uac1d\uc218",
            "subtext": "\ucee4\uc11c\uc640 \uc2a4\ud06c\ub864\uc744 \uc870\uc808\ud574 \uc6d0\ud558\ub294 \uc815\ubcf4\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ],
    "color": []
};
        chart_3a82e4d6a3e548409a35dd905d1fdbaa.setOption(option_3a82e4d6a3e548409a35dd905d1fdbaa);
    </script>
<br/>                <div id="092d746f9d97492d94ab30a511a8925f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_092d746f9d97492d94ab30a511a8925f = echarts.init(
            document.getElementById('092d746f9d97492d94ab30a511a8925f'), 'westeros', {renderer: 'canvas'});
        var option_092d746f9d97492d94ab30a511a8925f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "elasticOut",
    "animationDelay": 1000,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "2018",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                219069905438,
                214755036200,
                70833130200,
                50009180450,
                48308300550,
                49659722850,
                34629152650,
                32071525500,
                30555758370,
                31644016200,
                27690211350,
                25086012500,
                23218930050,
                21064564800,
                19841924950,
                10206574250,
                4102486000
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2019",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                228464199301,
                231983014330,
                71854388610,
                52681670700,
                51212725920,
                53471205500,
                36806298140,
                34591946290,
                32521447320,
                34027487030,
                30065800320,
                27613313550,
                24424422040,
                23206953120,
                21896231050,
                11293569550,
                4678735680
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2020",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                83065572720,
                82358532660,
                26089025580,
                20314062140,
                18983568090,
                18360680170,
                12669088720,
                12669568910,
                11667268250,
                11983170110,
                10986936560,
                9919683410,
                8573396690,
                8148964930,
                8378549510,
                4373458890,
                1870350450
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "bar",
            "name": "2021",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "legendHoverLink": true,
            "data": [
                42994680463,
                39480445539,
                13134987080,
                8739955980,
                9261947240,
                8647493120,
                6210465860,
                6843668970,
                6243059630,
                6323806870,
                5576821930,
                4917024000,
                3883918570,
                3956109430,
                4242851970,
                1932582650,
                1030788390
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "2018",
                "2019",
                "2020",
                "2021"
            ],
            "selected": {
                "2018": true,
                "2019": true,
                "2020": true,
                "2021": true
            },
            "show": true,
            "left": "40%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "icon": "pin"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 0,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\uc11c\uc6b8\uc2dc",
                "\uacbd\uae30\ub3c4",
                "\ubd80\uc0b0\uc2dc",
                "\ub300\uad6c\uc2dc",
                "\uc778\ucc9c\uc2dc",
                "\uacbd\uc0c1\ub0a8\ub3c4",
                "\uad11\uc8fc\uc2dc",
                "\ub300\uc804\uc2dc",
                "\ucda9\uccad\ub0a8\ub3c4",
                "\uacbd\uc0c1\ubd81\ub3c4",
                "\uc804\ub77c\ubd81\ub3c4",
                "\ucda9\uccad\ubd81\ub3c4",
                "\uac15\uc6d0\ub3c4",
                "\uc804\ub77c\ub0a8\ub3c4",
                "\uc6b8\uc0b0\uc2dc",
                "\uc81c\uc8fc\ub3c4",
                "\uc138\uc885\uc2dc"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\ub9e4\ucd9c\uc561",
            "show": true,
            "scale": true,
            "nameLocation": "center",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "min": "Datamin",
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\uc2dc\ub3c4\ubcc4 \uc5f0\uac04 \ub9e4\ucd9c\uc561",
            "subtext": "\ucee4\uc11c\uc640 \uc2a4\ud06c\ub864\uc744 \uc870\uc808\ud574 \uc6d0\ud558\ub294 \uc815\ubcf4\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ],
    "color": []
};
        chart_092d746f9d97492d94ab30a511a8925f.setOption(option_092d746f9d97492d94ab30a511a8925f);
    </script>
<br/>                <div id="2cfacb552ffb4890ba751f9b6e329695" class="chart-container" style="width:650px; height:500px;"></div>
    <script>
        var chart_2cfacb552ffb4890ba751f9b6e329695 = echarts.init(
            document.getElementById('2cfacb552ffb4890ba751f9b6e329695'), 'westeros', {renderer: 'canvas'});
        var option_2cfacb552ffb4890ba751f9b6e329695 = {
    "baseOption": {
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\uac15\uc6d0\ub3c4",
                        "value": [
                            2.4
                        ]
                    },
                    {
                        "name": "\uacbd\uae30\ub3c4",
                        "value": [
                            22.2
                        ]
                    },
                    {
                        "name": "\uacbd\uc0c1\ub0a8\ub3c4",
                        "value": [
                            5.1
                        ]
                    },
                    {
                        "name": "\uacbd\uc0c1\ubd81\ub3c4",
                        "value": [
                            3.7
                        ]
                    },
                    {
                        "name": "\uad11\uc8fc\uc2dc",
                        "value": [
                            4.0
                        ]
                    },
                    {
                        "name": "\ub300\uad6c\uc2dc",
                        "value": [
                            5.3
                        ]
                    },
                    {
                        "name": "\ub300\uc804\uc2dc",
                        "value": [
                            3.5
                        ]
                    },
                    {
                        "name": "\ubd80\uc0b0\uc2dc",
                        "value": [
                            7.5
                        ]
                    },
                    {
                        "name": "\uc11c\uc6b8\uc2dc",
                        "value": [
                            25.3
                        ]
                    },
                    {
                        "name": "\uc138\uc885\uc2dc",
                        "value": [
                            0.6
                        ]
                    },
                    {
                        "name": "\uc6b8\uc0b0\uc2dc",
                        "value": [
                            2.3
                        ]
                    },
                    {
                        "name": "\uc778\ucc9c\uc2dc",
                        "value": [
                            4.9
                        ]
                    },
                    {
                        "name": "\uc804\ub77c\ub0a8\ub3c4",
                        "value": [
                            2.5
                        ]
                    },
                    {
                        "name": "\uc804\ub77c\ubd81\ub3c4",
                        "value": [
                            3.3
                        ]
                    },
                    {
                        "name": "\uc81c\uc8fc\ub3c4",
                        "value": [
                            1.1
                        ]
                    },
                    {
                        "name": "\ucda9\uccad\ub0a8\ub3c4",
                        "value": [
                            3.5
                        ]
                    },
                    {
                        "name": "\ucda9\uccad\ubd81\ub3c4",
                        "value": [
                            2.8
                        ]
                    }
                ],
                "radius": [
                    "30%",
                    "60%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "radius",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "timeline": {
            "axisType": "category",
            "orient": "horizontal",
            "autoPlay": true,
            "controlPosition": "left",
            "loop": true,
            "rewind": false,
            "show": true,
            "inverse": false,
            "bottom": "-5px",
            "data": [
                "2018\ub144\ub3c4",
                "2019\ub144\ub3c4",
                "2020\ub144\ub3c4",
                "2021\ub144\ub3c4"
            ]
        }
    },
    "options": [
        {
            "legend": [
                {
                    "data": [
                        "\uac15\uc6d0\ub3c4",
                        "\uacbd\uae30\ub3c4",
                        "\uacbd\uc0c1\ub0a8\ub3c4",
                        "\uacbd\uc0c1\ubd81\ub3c4",
                        "\uad11\uc8fc\uc2dc",
                        "\ub300\uad6c\uc2dc",
                        "\ub300\uc804\uc2dc",
                        "\ubd80\uc0b0\uc2dc",
                        "\uc11c\uc6b8\uc2dc",
                        "\uc138\uc885\uc2dc",
                        "\uc6b8\uc0b0\uc2dc",
                        "\uc778\ucc9c\uc2dc",
                        "\uc804\ub77c\ub0a8\ub3c4",
                        "\uc804\ub77c\ubd81\ub3c4",
                        "\uc81c\uc8fc\ub3c4",
                        "\ucda9\uccad\ub0a8\ub3c4",
                        "\ucda9\uccad\ubd81\ub3c4"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac15\uc6d0\ub3c4",
                            "value": [
                                2.7
                            ]
                        },
                        {
                            "name": "\uacbd\uae30\ub3c4",
                            "value": [
                                23.3
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ub0a8\ub3c4",
                            "value": [
                                5.5
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ubd81\ub3c4",
                            "value": [
                                3.6
                            ]
                        },
                        {
                            "name": "\uad11\uc8fc\uc2dc",
                            "value": [
                                3.9
                            ]
                        },
                        {
                            "name": "\ub300\uad6c\uc2dc",
                            "value": [
                                5.4
                            ]
                        },
                        {
                            "name": "\ub300\uc804\uc2dc",
                            "value": [
                                3.5
                            ]
                        },
                        {
                            "name": "\ubd80\uc0b0\uc2dc",
                            "value": [
                                7.8
                            ]
                        },
                        {
                            "name": "\uc11c\uc6b8\uc2dc",
                            "value": [
                                23.3
                            ]
                        },
                        {
                            "name": "\uc138\uc885\uc2dc",
                            "value": [
                                0.5
                            ]
                        },
                        {
                            "name": "\uc6b8\uc0b0\uc2dc",
                            "value": [
                                2.2
                            ]
                        },
                        {
                            "name": "\uc778\ucc9c\uc2dc",
                            "value": [
                                5.2
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ub0a8\ub3c4",
                            "value": [
                                2.6
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ubd81\ub3c4",
                            "value": [
                                3.2
                            ]
                        },
                        {
                            "name": "\uc81c\uc8fc\ub3c4",
                            "value": [
                                1.1
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ub0a8\ub3c4",
                            "value": [
                                3.5
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ubd81\ub3c4",
                            "value": [
                                2.8
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc2dc\ub3c4\ubcc4 \uc5f0\uac04 \uc810\uc720\uc728",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc9c0\uc5ed\ubcc4 \uc810\uc720\uc728\uc744 \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uac15\uc6d0\ub3c4",
                        "\uacbd\uae30\ub3c4",
                        "\uacbd\uc0c1\ub0a8\ub3c4",
                        "\uacbd\uc0c1\ubd81\ub3c4",
                        "\uad11\uc8fc\uc2dc",
                        "\ub300\uad6c\uc2dc",
                        "\ub300\uc804\uc2dc",
                        "\ubd80\uc0b0\uc2dc",
                        "\uc11c\uc6b8\uc2dc",
                        "\uc138\uc885\uc2dc",
                        "\uc6b8\uc0b0\uc2dc",
                        "\uc778\ucc9c\uc2dc",
                        "\uc804\ub77c\ub0a8\ub3c4",
                        "\uc804\ub77c\ubd81\ub3c4",
                        "\uc81c\uc8fc\ub3c4",
                        "\ucda9\uccad\ub0a8\ub3c4",
                        "\ucda9\uccad\ubd81\ub3c4"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac15\uc6d0\ub3c4",
                            "value": [
                                2.7
                            ]
                        },
                        {
                            "name": "\uacbd\uae30\ub3c4",
                            "value": [
                                23.7
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ub0a8\ub3c4",
                            "value": [
                                5.6
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ubd81\ub3c4",
                            "value": [
                                3.6
                            ]
                        },
                        {
                            "name": "\uad11\uc8fc\uc2dc",
                            "value": [
                                3.9
                            ]
                        },
                        {
                            "name": "\ub300\uad6c\uc2dc",
                            "value": [
                                5.3
                            ]
                        },
                        {
                            "name": "\ub300\uc804\uc2dc",
                            "value": [
                                3.5
                            ]
                        },
                        {
                            "name": "\ubd80\uc0b0\uc2dc",
                            "value": [
                                7.4
                            ]
                        },
                        {
                            "name": "\uc11c\uc6b8\uc2dc",
                            "value": [
                                22.9
                            ]
                        },
                        {
                            "name": "\uc138\uc885\uc2dc",
                            "value": [
                                0.5
                            ]
                        },
                        {
                            "name": "\uc6b8\uc0b0\uc2dc",
                            "value": [
                                2.3
                            ]
                        },
                        {
                            "name": "\uc778\ucc9c\uc2dc",
                            "value": [
                                5.2
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ub0a8\ub3c4",
                            "value": [
                                2.6
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ubd81\ub3c4",
                            "value": [
                                3.3
                            ]
                        },
                        {
                            "name": "\uc81c\uc8fc\ub3c4",
                            "value": [
                                1.2
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ub0a8\ub3c4",
                            "value": [
                                3.4
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ubd81\ub3c4",
                            "value": [
                                2.9
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc2dc\ub3c4\ubcc4 \uc5f0\uac04 \uc810\uc720\uc728",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc9c0\uc5ed\ubcc4 \uc810\uc720\uc728\uc744 \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uac15\uc6d0\ub3c4",
                        "\uacbd\uae30\ub3c4",
                        "\uacbd\uc0c1\ub0a8\ub3c4",
                        "\uacbd\uc0c1\ubd81\ub3c4",
                        "\uad11\uc8fc\uc2dc",
                        "\ub300\uad6c\uc2dc",
                        "\ub300\uc804\uc2dc",
                        "\ubd80\uc0b0\uc2dc",
                        "\uc11c\uc6b8\uc2dc",
                        "\uc138\uc885\uc2dc",
                        "\uc6b8\uc0b0\uc2dc",
                        "\uc778\ucc9c\uc2dc",
                        "\uc804\ub77c\ub0a8\ub3c4",
                        "\uc804\ub77c\ubd81\ub3c4",
                        "\uc81c\uc8fc\ub3c4",
                        "\ucda9\uccad\ub0a8\ub3c4",
                        "\ucda9\uccad\ubd81\ub3c4"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac15\uc6d0\ub3c4",
                            "value": [
                                2.4
                            ]
                        },
                        {
                            "name": "\uacbd\uae30\ub3c4",
                            "value": [
                                23.2
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ub0a8\ub3c4",
                            "value": [
                                5.9
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ubd81\ub3c4",
                            "value": [
                                3.5
                            ]
                        },
                        {
                            "name": "\uad11\uc8fc\uc2dc",
                            "value": [
                                3.7
                            ]
                        },
                        {
                            "name": "\ub300\uad6c\uc2dc",
                            "value": [
                                5.3
                            ]
                        },
                        {
                            "name": "\ub300\uc804\uc2dc",
                            "value": [
                                3.6
                            ]
                        },
                        {
                            "name": "\ubd80\uc0b0\uc2dc",
                            "value": [
                                7.5
                            ]
                        },
                        {
                            "name": "\uc11c\uc6b8\uc2dc",
                            "value": [
                                23.4
                            ]
                        },
                        {
                            "name": "\uc138\uc885\uc2dc",
                            "value": [
                                0.6
                            ]
                        },
                        {
                            "name": "\uc6b8\uc0b0\uc2dc",
                            "value": [
                                2.4
                            ]
                        },
                        {
                            "name": "\uc778\ucc9c\uc2dc",
                            "value": [
                                5.2
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ub0a8\ub3c4",
                            "value": [
                                2.6
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ubd81\ub3c4",
                            "value": [
                                3.3
                            ]
                        },
                        {
                            "name": "\uc81c\uc8fc\ub3c4",
                            "value": [
                                1.2
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ub0a8\ub3c4",
                            "value": [
                                3.4
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ubd81\ub3c4",
                            "value": [
                                2.9
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc2dc\ub3c4\ubcc4 \uc5f0\uac04 \uc810\uc720\uc728",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc9c0\uc5ed\ubcc4 \uc810\uc720\uc728\uc744 \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        },
        {
            "legend": [
                {
                    "data": [
                        "\uac15\uc6d0\ub3c4",
                        "\uacbd\uae30\ub3c4",
                        "\uacbd\uc0c1\ub0a8\ub3c4",
                        "\uacbd\uc0c1\ubd81\ub3c4",
                        "\uad11\uc8fc\uc2dc",
                        "\ub300\uad6c\uc2dc",
                        "\ub300\uc804\uc2dc",
                        "\ubd80\uc0b0\uc2dc",
                        "\uc11c\uc6b8\uc2dc",
                        "\uc138\uc885\uc2dc",
                        "\uc6b8\uc0b0\uc2dc",
                        "\uc778\ucc9c\uc2dc",
                        "\uc804\ub77c\ub0a8\ub3c4",
                        "\uc804\ub77c\ubd81\ub3c4",
                        "\uc81c\uc8fc\ub3c4",
                        "\ucda9\uccad\ub0a8\ub3c4",
                        "\ucda9\uccad\ubd81\ub3c4"
                    ],
                    "selected": {},
                    "type": "scroll",
                    "show": true,
                    "right": "0%",
                    "bottom": "70%",
                    "orient": "vertical",
                    "padding": 5,
                    "itemGap": 10,
                    "itemWidth": 25,
                    "itemHeight": 14,
                    "icon": "pin"
                }
            ],
            "series": [
                {
                    "type": "pie",
                    "clockwise": true,
                    "data": [
                        {
                            "name": "\uac15\uc6d0\ub3c4",
                            "value": [
                                2.4
                            ]
                        },
                        {
                            "name": "\uacbd\uae30\ub3c4",
                            "value": [
                                22.2
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ub0a8\ub3c4",
                            "value": [
                                5.1
                            ]
                        },
                        {
                            "name": "\uacbd\uc0c1\ubd81\ub3c4",
                            "value": [
                                3.7
                            ]
                        },
                        {
                            "name": "\uad11\uc8fc\uc2dc",
                            "value": [
                                4.0
                            ]
                        },
                        {
                            "name": "\ub300\uad6c\uc2dc",
                            "value": [
                                5.3
                            ]
                        },
                        {
                            "name": "\ub300\uc804\uc2dc",
                            "value": [
                                3.5
                            ]
                        },
                        {
                            "name": "\ubd80\uc0b0\uc2dc",
                            "value": [
                                7.5
                            ]
                        },
                        {
                            "name": "\uc11c\uc6b8\uc2dc",
                            "value": [
                                25.3
                            ]
                        },
                        {
                            "name": "\uc138\uc885\uc2dc",
                            "value": [
                                0.6
                            ]
                        },
                        {
                            "name": "\uc6b8\uc0b0\uc2dc",
                            "value": [
                                2.3
                            ]
                        },
                        {
                            "name": "\uc778\ucc9c\uc2dc",
                            "value": [
                                4.9
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ub0a8\ub3c4",
                            "value": [
                                2.5
                            ]
                        },
                        {
                            "name": "\uc804\ub77c\ubd81\ub3c4",
                            "value": [
                                3.3
                            ]
                        },
                        {
                            "name": "\uc81c\uc8fc\ub3c4",
                            "value": [
                                1.1
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ub0a8\ub3c4",
                            "value": [
                                3.5
                            ]
                        },
                        {
                            "name": "\ucda9\uccad\ubd81\ub3c4",
                            "value": [
                                2.8
                            ]
                        }
                    ],
                    "radius": [
                        "30%",
                        "60%"
                    ],
                    "center": [
                        "50%",
                        "50%"
                    ],
                    "roseType": "radius",
                    "label": {
                        "show": true,
                        "position": "top",
                        "margin": 8
                    },
                    "rippleEffect": {
                        "show": true,
                        "brushType": "stroke",
                        "scale": 2.5,
                        "period": 4
                    }
                }
            ],
            "title": [
                {
                    "text": "\uc2dc\ub3c4\ubcc4 \uc5f0\uac04 \uc810\uc720\uc728",
                    "subtext": "\ub9c8\uc6b0\uc2a4\ub97c \ud30c\uc774\uc5d0 \uc62c\ub824 \uc9c0\uc5ed\ubcc4 \uc810\uc720\uc728\uc744 \ud655\uc778\ud574\ubcf4\uc138\uc694!",
                    "padding": 5,
                    "itemGap": 10
                }
            ],
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            }
        }
    ]
};
        chart_2cfacb552ffb4890ba751f9b6e329695.setOption(option_2cfacb552ffb4890ba751f9b6e329695);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
