<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>

    
</head>
<body>
    <style>.box { justify-content:center; display:flex; flex-wrap:wrap;  }; </style>
    <div class="box">
                <div id="b82ff84aa579496cbffd91fac4bca728" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_b82ff84aa579496cbffd91fac4bca728 = echarts.init(
            document.getElementById('b82ff84aa579496cbffd91fac4bca728'), 'westeros', {renderer: 'canvas'});
        var option_b82ff84aa579496cbffd91fac4bca728 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "elasticOut",
    "animationDelay": 1000,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\uac1c\ubd09\ud3b8\uc218",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2018",
                    661
                ],
                [
                    "2019",
                    697
                ],
                [
                    "2020",
                    782
                ],
                [
                    "2021",
                    817
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\uc0c1\uc601\ud3b8\uc218",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "2018",
                    1096
                ],
                [
                    "2019",
                    1126
                ],
                [
                    "2020",
                    1130
                ],
                [
                    "2021",
                    1174
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\uac1c\ubd09\ud3b8\uc218",
                "\uc0c1\uc601\ud3b8\uc218"
            ],
            "selected": {
                "\uac1c\ubd09\ud3b8\uc218": true,
                "\uc0c1\uc601\ud3b8\uc218": true
            },
            "show": true,
            "left": "40%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "icon": "pin"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 0,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2018",
                "2019",
                "2020",
                "2021"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\uc601\ud654\ud3b8\uc218",
            "show": true,
            "scale": true,
            "nameLocation": "center",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\uc5f0\uac04 \uc601\ud654 \uac1c\ubd09 \ubc0f \uc0c1\uc601\ud3b8\uc218",
            "subtext": "\ucee4\uc11c\uc640 \uc2a4\ud06c\ub864\uc744 \uc870\uc808\ud574 \uc6d0\ud558\ub294 \uc815\ubcf4\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ],
    "grid": [
        {
            "show": false,
            "zlevel": 0,
            "z": 2,
            "containLabel": false,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1
        }
    ],
    "color": []
};
        chart_b82ff84aa579496cbffd91fac4bca728.setOption(option_b82ff84aa579496cbffd91fac4bca728);
    </script>
<br/>                <div id="46dc71b1627346f59ea2932db1e8cfbe" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_46dc71b1627346f59ea2932db1e8cfbe = echarts.init(
            document.getElementById('46dc71b1627346f59ea2932db1e8cfbe'), 'westeros', {renderer: 'canvas'});
        var option_46dc71b1627346f59ea2932db1e8cfbe = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "elasticOut",
    "animationDelay": 1000,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "line",
            "name": "\uac1c\ubd09\ud3b8\uc218",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\ucf54\ub85c\ub098\uc774\uc804(2018~2019)",
                    1358
                ],
                [
                    "\ucf54\ub85c\ub098\uc774\ud6c4(2020~2021)",
                    1599
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "line",
            "name": "\uc0c1\uc601\ud3b8\uc218",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "\ucf54\ub85c\ub098\uc774\uc804(2018~2019)",
                    2222
                ],
                [
                    "\ucf54\ub85c\ub098\uc774\ud6c4(2020~2021)",
                    2304
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0,
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\uac1c\ubd09\ud3b8\uc218",
                "\uc0c1\uc601\ud3b8\uc218"
            ],
            "selected": {
                "\uac1c\ubd09\ud3b8\uc218": true,
                "\uc0c1\uc601\ud3b8\uc218": true
            },
            "show": true,
            "left": "40%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "icon": "pin"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": 0,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\ucf54\ub85c\ub098\uc774\uc804(2018~2019)",
                "\ucf54\ub85c\ub098\uc774\ud6c4(2020~2021)"
            ]
        }
    ],
    "yAxis": [
        {
            "type": "value",
            "name": "\uc601\ud654\ud3b8\uc218",
            "show": true,
            "scale": true,
            "nameLocation": "center",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\ucf54\ub85c\ub098 \uc804\ud6c4 \uc601\ud654 \uac1c\ubd09 \ubc0f \uc0c1\uc601\ud3b8\uc218",
            "subtext": "\ucee4\uc11c\uc640 \uc2a4\ud06c\ub864\uc744 \uc870\uc808\ud574 \uc6d0\ud558\ub294 \uc815\ubcf4\ub97c \ud655\uc778\ud574\ubcf4\uc138\uc694!",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "dataZoom": [
        {
            "show": true,
            "type": "slider",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        },
        {
            "show": true,
            "type": "inside",
            "realtime": true,
            "start": 20,
            "end": 80,
            "orient": "horizontal",
            "zoomLock": false,
            "filterMode": "filter"
        }
    ]
};
        chart_46dc71b1627346f59ea2932db1e8cfbe.setOption(option_46dc71b1627346f59ea2932db1e8cfbe);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
